* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    background: white;
    width: 400px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.subtitle {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

.habit-input {
    display: flex;
    gap: 10px;
}

.habit-input input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.habit-input button {
    padding: 10px 15px;
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 8px;
}
.habit-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.habit-list li span {
    font-size: 15px;
}
canvas {
    margin-top: 20px;
}
